# Visual Studio 관련 파일들
.vs/
.vs2019/
.vs2017/

# 빌드 아웃풋 디렉토리 (디버그, 릴리즈 파일)
[Dd]ebug/
[Dd]ebugPublic/
[Dd]Release/
x64/
x86/
arm/

# 개인 설정 파일들 (Git에 포함하지 않음)
*.vcxproj.user
*.user
*.userosscache
*.suo
