# Visual Studio 관련 파일들 무시
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# 프로젝트 파일들 무시
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# 빌드 아웃풋 디렉토리 무시
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
x64/
x86/

# 윈도우 설치 파일들 무시
*.cab
*.msi
*.msm
*.msp
